<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>


<!-- Admin view-->
<div class="row" style="padding-top: 150px"></div>
<div class="container-fluid">

    <div class="row">
        <h1>Proyecto Escaleras</h1>
    </div>
    <form class="form-group" method="post" action="/measurers/update-measurer/<%= measurer.id %>">
        <div class="row">
            <div class="col-lg-5">
                <label>Alto pared</label>
                <input name="wall_heigth" class="form-control" type="number" required value="<%= measurer.wall_heigth %>">
            </div>
            <div class="col-lg-5">
                <label>Numero de medidores</label>
                <input name="measurer_number" class="form-control" type="number" step="0.01" required value="<%= measurer.measurer_number %>">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input class="form-control btn btn-success" type="submit" value="Actualizar">
            </div>
            <div class="col-lg-4"></div>
        </div>
    </form>

</div>

<!-- end Admin view-->
<% include ../partials/footer %>

</body>

</html>
