<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>
<div class="row">
            <div class="col-md-1">
                
            </div>
            <div class="col-md-10">

                <div class="thumbnail">
                    <h1>Estacion de medidores de Agua</h1>

                    <img class="img-responsive" src="/img/portfolio/valveBox/valve.jpg" alt="">
                    <div class="caption-full">
                        
                        <p>Ingrese el número de medidores que necesita su proyecto y el espacio disponible. Diseñaremos la estación de gabinetes de medición y enviaremos una cotización a su correo, en minutos!</p>
                    </div>
                    <a href="/measurers/form" class="btn btn-primary">Cotizar ahora!</a>
                    
                </div>

                <div class="well">

                    <h3 class="text-center"><a href="#">PRODUCTOS YA COTIZADOS</a></h3>
                    <hr>
                    <div class="row">
                        <% measurers.forEach(function(product) { %>
                            <div class="col-sm-3  col-md-4 col-lg-4">
                                <div class="thumbnail">
                                    <img src="/img/portfolio/valveBox/valve.png" alt="">
                                    <div class="caption">
                                        <h4><a href="#">Medidor</a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5>Alto de pared <b>(m)</b>:</h5><p><%= product.wall_heigth%></p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5><i class="fa fa-tachometer" aria-hidden="true"></i> Número de medidores:</h5><p><%= product.measurer_number%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>

                </div>

            </div>
            <div class="col-md-1">
                
            </div>
        </div>

</div>
<% include ../partials/footer %>
</body>

</html>

