
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/products/all">
                <div class="row"> 
                <div class="col-md-2 col-xs-2">
                <img src="/img/icons/logo.svg" alt="Dispute Bills" style = "width: 30px;height: auto;">
                </div>
                <div class="col-md-10 col-xs-10">
                 Plano a la mano
                 </div>
                </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/stairs/">Escaleras</a>
                </li>
                <li>
                    <a href="/machinery/">Maquinaria</a>
                </li>
                <li>
                    <a href="/measurers/">Medidores</a>
                </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>