<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

<body>

<% include ./partials/header %>

<div class="container-fluid">
    <div class="row" style="padding-top: 150px">
    </div>
    <form class="form-group" method="post" action="new">
        <p>
            <label c>Name:</label>
            <input  class="form-control" type="text" name="name">
        </p>
        <p>
            <label>Price:</label>
            <input class="form-control" type="number" name="price">
        </p>
        <p>
            <label>Description:</label>
            <input class="form-control" type="text" name="description">
        </p>
        <p>
            <label>Calification:</label>
            <input class="form-control" type="number" name="calification">
        </p>
        <p>
            <input class="form-control btn btn-success" type="submit">
        </p>
    </form>
</div>
<% include ./partials/footer %>
</body>

</html>