<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>

<body>

<% include ./partials/header %>


<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Bienvenido a Plano a la Mano!</h1>
        <p>Busca un producto que cumpla con sus necesidades, o pídalo hecho a la medida.</p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Catalogo</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/portfolio/stairs/l-stair.jpg" alt="">
                <div class="caption">
                    <h3>Escaleras</h3>
                    <p>Escaleras interiores y exteriores a pedido.</p>
                    <p>
                        <a href="/stairs/form" class="btn btn-primary">Cotizar ahora!</a> <a href="/stairs/" class="btn btn-default">Más información</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/portfolio/machinery/aplanadora.jpg" alt="">
                <div class="caption">
                    <h3>Maquinaria</h3>
                    <p>Todas sus necesidades de maquinaria pesada !</p>
                    <p>
                        <a href="/machinery/" class="btn btn-primary">Cotizar ahora!</a> <a href="#" class="btn btn-default">Más información</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/portfolio/valveBox/valve.jpg" alt="">
                <div class="caption">
                    <h3>Medidores de agua</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Cotizar ahora!</a> <a href="/measurers/" class="btn btn-default">Más información</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

</body>

</html>
