<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <h1> Puntos de datos</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <h6>Materiales</h6><p>/data/materials</p>
            </li>
            <li class="list-group-item">
                <h6>Material</h6><p>/data/materials/NOMBREMATERIAL</p>
            </li>
            <li class="list-group-item">
                <h6>Proveedores</h6><p>/data/providers</p>
            </li>
            <li class="list-group-item">
                <h6>Material</h6><p>/data/providers/IDPROVEEDOR</p>
            </li>
        </ul>
    </div>
</div>

<% include ../partials/footer %>
</body>

</html>